@import url("style-webgl.css");

body {
  margin: 0;
}

canvas {
  width: 100vw;
  height: 100vh;
  display: block;
}

#info h1 {

  font-size: 24;
  color: red;
  margin-left: auto;
  margin-top: auto;
}

#info p {

  font-size: 16;
  color: blue;
  margin-left: auto;
  margin-top: auto;
}